<!-- Main Header, placed in views/partials/header.html -->
${header}

<body class="text-center">
  <div style="display: none !important;" id="main-container" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column hidden-on-load">
    <header class="masthead mb-auto fixed-top pt-3 pb-3">
      <div class="inner d-flex justify-content-between px-5">
        <h1 class="masthead-brand"><img id="appLogo" src=""></h1>
        <nav class="nav nav-masthead">
          <a class="nav-link disabled mode-text">Theme</a>
          <a id="day-theme" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Day"><i class="far fa-sun icons"></i></a>
          <a id="night-theme" class="nav-link active" data-toggle="tooltip" data-placement="bottom" title="Night"><i class="far fa-moon icons"></i></a>
        </nav>
      </div>
    </header>

    <main id="main-box" role="main" class="inner cover">
      <div contenteditable="true" id="textarea" class="col-lg-12 editor" placeholder="" spellcheck="true" autofocus>Hi <strong>Hugh</strong> Caluscusin! God is goood!<strong>there</strong>! This is a sample.</div>
      <span id="emoji-button"></span>
    </main>

    <footer class="mastfoot">
      <nav id="footer-nav" class="navbar fixed-bottom navbar-toggleable-xl navbar-expand">
        <div id="navbarCollapse" class="d-lg-flex d-block flex-row mx-auto mx-0">
          <ul class="navbar-nav">
            <li class="nav-item px-1">
              <a id="edit-bold" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Bold"><i class="fas fa-bold icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-italic" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Italic" ><i class="fas fa-italic icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-underline" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Underline" ><i class="fas fa-underline icons"></i></a>
            </li>
            <li class="nav-item disabled px-1">
              <a class="nav-link disabled"><i class="fas fa-ellipsis-v icons divider"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Left" ><i class="fas fa-align-left icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Justify"><i class="fas fa-align-justify icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Right"><i class="fas fa-align-right icons"></i></a>
            </li>
            <li class="nav-item disabled px-1">
              <a class="nav-link disabled"><i class="fas fa-ellipsis-v icons divider"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Disable Tab Hot-Key"><i id="btn-menu-disable" class="fas fa-hand-paper icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Copy"><i class="far fa-copy icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Download"><i class="fas fa-file-download icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" data-toggle="tooltip" data-placement="top" title="About"><i class="fas fa-question-circle icons"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </div>

  <div id="loader" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column show-on-load">
    <header class="masthead mb-auto fixed-top pt-3 pb-3">

    </header>

    <main id="loader-box" role="main" class="inner cover">
      <section>
        <div>
          <span><img id="loader-img" src=""></span>
        </div>
      </section>
    </main>

    <footer class="mastfoot">

    </footer>
  </div>

<!-- Main Footer, placed in views/partials/footer.html -->
<!-- body and html closing tags are inside here as well -->
${footer}