<!-- Main Header, placed in views/partials/header.html -->
${header}

<body class="text-center">
  <div style="display: none !important;" id="main-container" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column hidden-on-load">
    <header class="masthead mb-auto fixed-top pt-3 pb-3">
      <div class="inner d-flex justify-content-between px-5">
        <h1 class="masthead-brand"><img id="appLogo" src=""></h1>
        <nav class="nav nav-masthead">
          <a class="nav-link disabled mode-text">Dark Mode</a>

          <div id="mode-button-div" class="col-sm-5">
            <button id="mode-button" type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
              <div class="handle"></div>
            </button>
          </div>

        </nav>
      </div>
    </header>

    <main id="main-box" role="main" class="inner cover">
      <section contenteditable="true" id="textarea" class="col-lg-12 editor" placeholder="" spellcheck="true" autofocus tabindex=-1>Hi 👋

Thank you for using <strong>Cratz Pad</strong>. This app is your quick-scratch note that supports emojis. Yeah! 😎 🗽 📣.
You can type anything here. From scratch for your poems, prose, school notes, to song compositions - anything.
For now, <strong>Cratz Pad</strong> depends on internet connection, however, this will be enhanced in the future and will support
offline editing. 😊

<strong>1. MODE</strong>
There are two modes: <em>Dark Mode </em>🌙 and <em>Light Mode</em> ☀. Just click the switch button in the top right corner. ↗

<strong>2. HOT-KEYS SHORTCUTS
</strong>Press <strong>Tab</strong> to show Emoji Box 🏖
<strong>Cmd+b</strong> (<em>Mac</em>) or <strong>Ctrl+b</strong> (<em>Windows</em>) for making texts <strong>bold</strong>
<strong>Cmd+i </strong>(<em>Mac</em>) or <strong>Ctrl+i</strong> (<em>Windows</em>) for making texts <em>italic</em>
<strong>Cmd+u</strong> (<em>Mac</em>) or <strong>Ctrl+u</strong> (<em>Windows</em>) to decorate texts with <u>underline</u>
<strong>Cmd+1</strong> (<em>Mac</em>) or <strong>Ctrl+1</strong> (<em>Windows</em>) to assign all texts to the left
<strong>Cmd+2</strong> (<em>Mac</em>) or <strong>Ctrl+2</strong> (<em>Windows</em>) to assign all texts at the center
<strong>Cmd+3</strong> (<em>Mac</em>) or <strong>Ctrl+3</strong> (<em>Windows)</em> to assign all texts to the right
<strong>Cmd+4</strong> (<em>Mac</em>) or <strong>Ctrl+4</strong> (<em>Windows</em>) justify all texts

<strong>3. EXTRA MENU ICONS</strong>
<i class="fas fa-hand-paper welcome-icons"></i> click to disable all shortcut keys (hot-keys), click again to enable hot-keys
<i class="far fa-copy welcome-icons"></i> click to automatically copy all texts
<i class="fas fa-file-download welcome-icons"></i> click to download your work into a <em>.txt</em> file
<i class="fas fa-question-circle welcome-icons"></i> click to see more details regarding Cratz Pad

<strong>4. RECOMMENDED SETUP</strong>
For <strong>Cratz Pad</strong> to function greatly, recommended setup is by using a <em>Chrome</em> browser within a <em>Desktop</em> (or <em>laptop</em>) environment.
You can also use a tablet, however, hot-keys won't work that fully in a tablet. Unless you have an external keyboard for your tablet.
That being said, if you don't want to use a Chrome browser you can download Cratz Pad as a <u>standalone desktop app</u>. You can do
so by clicking the <i class="fas fa-question-circle welcome-icons"></i> menu icon below and click the corresponding link for your operating system.

Enjoy! 🙌 😎

      </section>
      <span id="emoji-button"></span>
    </main>

    <footer class="mastfoot mt-auto">
      <nav id="footer-nav" class="navbar fixed-bottom navbar-toggleable-xl navbar-expand">
        <div id="navbarCollapse" class="d-lg-flex d-block flex-row mx-auto mx-0">
          <ul class="navbar-nav">
            <li class="nav-item px-1">
              <a id="edit-bold" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Bold" data-unique-tag='strong'><i class="fas fa-bold icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-italic" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Italic" data-unique-tag='em'><i class="fas fa-italic icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-underline" class="nav-link bott-nav disabled" data-toggle="tooltip" data-placement="top" title="Underline" data-unique-tag='u'><i class="fas fa-underline icons"></i></a>
            </li>
            <li class="nav-item disabled px-1">
              <a class="nav-link disabled"><i class="fas fa-ellipsis-v icons divider"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-left" class="nav-link" data-toggle="tooltip" data-placement="top" title="Left" data-unique-tag='align-all-left'><i class="fas fa-align-left icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-center" class="nav-link" data-toggle="tooltip" data-placement="top" title="Center" data-unique-tag='align-all-center'><i class="fas fa-align-center icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-right" class="nav-link" data-toggle="tooltip" data-placement="top" title="Right" data-unique-tag='align-all-right'><i class="fas fa-align-right icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="edit-justify" class="nav-link" data-toggle="tooltip" data-placement="top" title="Justify" data-unique-tag='align-all-justify'><i class="fas fa-align-justify icons"></i></a>
            </li>
            <li class="nav-item disabled px-1">
              <a class="nav-link disabled"><i class="fas fa-ellipsis-v icons divider"></i></a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" data-toggle="tooltip" data-placement="top" title="Disable Hot-Keys"><i id="btn-menu-disable" class="fas fa-hand-paper icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="auto-copy-all" class="nav-link" data-toggle="tooltip" data-placement="top" title="Auto Copy All"><i class="far fa-copy icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="download-btn" class="nav-link" data-toggle="tooltip" data-placement="top" title="Download" download=""><i class="fas fa-file-download icons"></i></a>
            </li>
            <li class="nav-item px-1">
              <a id="about-app" class="nav-link" data-toggle="tooltip" data-placement="top" title="About"><i class="fas fa-question-circle icons"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </div>

  <div style="display: none;" class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle1"><img id="appLogoModal" src=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <br>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none;" class="modal fade" id="modalDownload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle2"><img id="appLogoDownloadModal" src=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input id="download-filename-input" name="download-filename" type="text" class="form-control" placeholder="Type Your Filename Here" aria-label="Filename">
            <div class="input-group-append">
              <button id="download-filename-btn" class="btn btn-outline-success" type="button" disabled>Save</button>
            </div>
          </div>
          <span style="display: none;" id="download-filename-error"></span>
        </div>
      </div>
    </div>
  </div>

  <div id="loader" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column show-on-load">
    <header class="masthead mb-auto fixed-top pt-3 pb-3">
    </header>

    <main id="loader-box" role="main" class="inner cover">
      <section>
        <div>
          <span><img id="loader-img" src=""></span>
        </div>
      </section>
    </main>
    
    <br>
    <br>
    <br>
    
    <section style="display: none !important; width: 80%; margin: 0 auto;" id="notChromeMsg">
      <div style="line-height: 28px;">
        <p>Hi. 😔 Deeply sorry, but this app works smoothly inside a Chrome browser and within a Desktop (or laptop) setting. It is not my intention to let you down, however, I really recommend the setup I mentioned. If ever you don't want to use a Chrome browser, may I suggest you download the standalone desktop version of <em>Cratz Pad</em>. Thank you! 🙏😊</p>
        <br>
        <br>
        <ul style="text-align: center; list-style: none;">
          <li>Windows &nbsp; <a class="modal-links" href="#"><img id="loader-windows-img" src=""></a></li>
          <li class="li-padder">&nbsp; </li>
          <li>Mac OS &nbsp; <a class="modal-links" href="#"><img id="loader-mac-img" src=""></a></li>
        </ul>
      </div>
    </section>

    <section style="display: none !important;" id="downloadMsg">
      <button id="closeDownloadMsg" class="btn-dark">Close Me</button>
      <div style="line-height: 16px;">
        <p>Hi. 😊 Thank you for using Cratz Pad. 🙏</p>
        <p>If you want to use Cratz Pad as standalone desktop app, you can by downloading it below.</p>
        <br>
        <br>
        <ul style="text-align: center; list-style: none;">
          <li style="display: inline !important;">Windows</li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">&nbsp; </li>
          <li style="display: inline !important;">Mac OS</li>
        </ul>
      </div>
    </section>

    <footer class="mastfoot">

    </footer>
  </div>

<!-- Main Footer, placed in views/partials/footer.html -->
<!-- body and html closing tags are inside here as well -->
${footer}