/*
* This is the main SASS file, you can put all styles here.
* But if you prefer CSS, just use the other file named: app-main-raw.styles
* All these styles will be bundled with WebPack
*/

// FontAwesome 5
@import "~@fortawesome/fontawesome-free/css/all.css";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// emoione by twizdev
@import "~rm-emoji-picker/dist/emojipicker.css";

// Public Assets
$bgImg : '../../public/img/testimg.jpg';

input:focus,
select:focus,
textarea:focus,
button:focus,
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
a,
a:focus,
a:hover {
  color: #fff;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}
html {
  height: 100%;
  background-color: #333 !important;
  //background-color: #333 !important;
}
body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #333 !important;
  background: #333 !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);

  strong,
  em,
  u {
    font-size: 0.99em !important;
  }
}
.cover-container {
  max-width: 100em;
}
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
  color: #d85c72;
  font-family: Euphorigenic;
  letter-spacing: 2px;
}
.nav-masthead {
  float: right;
  .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    & + .nav-link {
      margin-left: 1rem;
    }
  }
  .active {
    color: #fff;
    border-bottom-color: #fff;
  }
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
      float: right;
    }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.hidden-on-load {

}

.show-on-load {

}

#main-container {
  z-index: 100;
}

#loader {
  position: relative;
  top: 40vh !important;
  display: block !important;
  z-index: 9999 !important;

  #loader-img {
    width: 100px;
  }
}

#textarea {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  font-size: 1.5em;
  color: #bdbdbd;
  background: transparent;
  padding: 2px;
  resize: none !important;
  height: 82vh;
  max-height: 100vh;
  overflow: auto;
  white-space: pre-wrap !important;
  display: inline-block !important;
  text-align: left;
  font-weight: lighter;
  cursor: text;

  div {
    color: #bdbdbd !important;
    font-weight: 100 !important;
    font-family: unset !important;
    line-height: 29px !important;
    font-size: inherit !important;
    white-space: pre-wrap !important;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    margin-left: .04em;
    letter-spacing: .01em;

    &.align-all-left {
      text-align: left !important;
      white-space: pre-wrap !important;
    }
    &.align-all-center {
      text-align: center !important;
      white-space: pre-wrap !important;
    }
    &.align-all-right {
      text-align: right !important;
      white-space: pre-wrap !important;
    }
    &.align-all-justify {
      text-align: justify !important;
      white-space: pre-wrap !important;
    }
  }

  p {
    color: #bdbdbd !important;
    font-weight: 100 !important;
    font-family: unset !important;
    line-height: 29px !important;
    font-size: inherit !important;
    white-space: pre-wrap !important;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    margin-left: .04em;
    letter-spacing: .01em;

    &.align-all-left {
      text-align: left !important;
      white-space: pre-wrap !important;
    }
    &.align-all-center {
      text-align: center !important;
      white-space: pre-wrap !important;
    }
    &.align-all-right {
      text-align: right !important;
      white-space: pre-wrap !important;
    }
    &.align-all-justify {
      text-align: justify !important;
      white-space: pre-wrap !important;
    }
  }

  span {
    color: #bdbdbd !important;
    font-weight: 100 !important;
    font-family: unset !important;
    line-height: 29px !important;
    font-size: inherit !important;
    white-space: pre-wrap !important;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    margin-left: .04em;
    letter-spacing: .01em;
  }

  pre {
    color: #bdbdbd !important;
    font-weight: 100 !important;
    font-family: unset !important;
    line-height: 29px !important;
    font-size: inherit !important;
    white-space: pre-wrap !important;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    margin-left: .04em;
    letter-spacing: .01em;

    strong,
    u,
    i {
      font-size: 1em !important;
      color: inherit !important;
    }

    &.align-all-left {
      text-align: left !important;
      white-space: pre-wrap !important;
    }
    &.align-all-center {
      text-align: center !important;
      white-space: pre-wrap !important;
    }
    &.align-all-right {
      text-align: right !important;
      white-space: pre-wrap !important;
    }
    &.align-all-justify {
      text-align: justify !important;
      white-space: pre-wrap !important;
    }
  }

  &.align-all-left {
    text-align: left !important;
    white-space: pre-wrap !important;
  }
  &.align-all-center {
    text-align: center !important;
    white-space: pre-wrap !important;
  }
  &.align-all-right {
    text-align: right !important;
    white-space: pre-wrap !important;
  }
  &.align-all-justify {
    text-align: justify !important;
    white-space: pre-wrap !important;
  }

  &:focus {
    border: none !important;
    outline: 0px solid transparent;
  }

  &::-webkit-input-placeholder {
    color: rgba(187, 187, 187, 0.48) !important;
  }
  &:-moz-placeholder {
    color: rgba(187, 187, 187, 0.48) !important;
  }
  &::-moz-placeholder {
    color: rgba(187, 187, 187, 0.48) !important;
  }
  &:-ms-input-placeholder {
    color: rgba(187, 187, 187, 0.48) !important;
  }
  &::placeholder {
    color: rgba(187, 187, 187, 0.48) !important;
  }
}
.modal-links {
  text-decoration: none;

  img {
    width: 40px;
    display: inline-block;
  }
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.holder {
  display: inline !important;
}
.cover {
  padding: 0 1.5rem;
  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }
}
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
#main-box {
  margin-top: 70px;
}
header {
  background: #333333;
  .icons {
    cursor: pointer;
  }

  #appLogo {
    width: 48px;
    position: relative;
    top: -4px;
    left: -12px;
  }
}

.mode-text {
  color: #655454 !important;
}

#receiver {
  //visibility: hidden !important;
  //opacity: 0 !important;
}

#footer-nav {
  background: #2d2d2d;
  .icons {
    font-size: 1.2em !important;
    cursor: pointer;
  }
  .divider {
    color: #3c3535 !important;
  }
}
// for the Emoji Box
.svg-menus {
  display: inline-block;
  width: 28px;
}

#emoji-button {
  display: inline-block;
  width: 34px;
  position: fixed;
  right: 42px !important;
  bottom: 88px;

  &:hover {
    cursor: pointer;
  }
}

#emoji-picker {
  text-shadow: none;
  position: fixed !important;
  right: 42px !important;
  left: unset !important;
  top: unset !important;
  bottom: 134px;

  > .emoji-header {
    padding-bottom: 4px !important;
  }

  .emoji-char-wrapper {
    width: 58px !important;
    font-size: 36px !important;
  }

  .emoji-search {
    display: none !important;
  }

  .select-category::after,
  .select-category.active::after {
    margin-top: 1px !important;
  }

  .emoji-content {
    height: 310px !important;
    background: linear-gradient(90deg, rgba(198,175,67,0.4948179955575981) 16%, rgb(76, 156, 214) 100%);
  }

  &.TooltipAbove::after {
    background: #4fa8e6 !important;
    left: unset !important;
    right: 14px !important;
  }

  .emoji-title-overlay {
    display: none;
  }

  .category-title {
    font-size: 0px !important;
  }

  .search-section {
    top: -3px;
    border-radius: 60%;
  }

  .default-content {
    font-size: 10px !important;
    color: white !important;
    top: -6px !important;
  }

  .default-content > span {
    color: #fff !important;
    line-height: 30px !important;
  }

  #emoji-name.name-only {
    margin-top: 24px !important;
    color: white !important;
  }

  .emoji-footer {
    height: 60px;
    background: linear-gradient(90deg, rgba(130, 127, 169, 0.8729692560617998) 0%, rgba(187, 169, 86, 0.78) 35%, rgb(64, 165, 243) 100%);
  }
}

.modal {
  #appLogoModal, #appLogoDownloadModal {
    width: 32px;
  }
  .modal-header {
    border-bottom: 0px !important;
    background: linear-gradient(90deg, rgba(197, 188, 143, 0.4948179955575981) 16%, rgba(15, 91, 119, 0.75) 100%);
  }
  .modal-body {
    border: 0 !important;
    color: #686a6b !important;
    text-shadow: none !important;
    font-weight: 300 !important;
  }

  .modal-body.modal-modified {
    text-align: left !important;

    a {
      color: #686a6b !important;
    }
  }

  #download-filename-error {
      color: #c70b0b;
      font-size: .8em;
  }
}

#mode-button-div {
  position: relative;
  top: 2px;
}

.mode-lightmode {
  text-shadow: 0 0.05rem 0rem rgba(0, 0, 0, 0.6);
  background-color: #fff !important;

  .mode-text {
    color: rgba(79, 133, 156, 0.76) !important;
    text-shadow: none !important;
  }

  #textarea {
    background-color: #fff !important;
    text-shadow: none !important;
    color: #655a5a !important;

    strong,
    em,
    u {
      color: #8c8c8c !important;
    }
  }

  header,
  footer #footer-nav {
    background-color: #fff !important;
  }

  #footer-nav .divider {
    color: #fbeec7 !important;
    text-shadow: none !important;
  }
}
